<%= simple_nested_form_for @movie do |form|%>
  <%= @movie.errors.full_messages unless @movie.errors.empty?%> 
  <br>
  <%= form.input :name, label: "Enter name" %>
  <br>


  <h4>Songs:</h4>
  <%= form.simple_fields_for :songs do |song| %>
  	<%= song.input :name%>
  	<%= song.input :composer%>
  	<%= song.link_to_remove "Delete song"%>
  <% end %>
  <%= form.link_to_add "Add new songs", :songs%>


  <h4>Actors:</h4>
  <%= form.simple_fields_for :movie_actors do |actor| %>
  	<%= actor.input :actor_id, collection: @actors %>
  	<%= actor.input :role%>
  	<%= actor.link_to_remove "Delete actor"%>
  <% end %>
  <%= form.link_to_add "Add more actors", :movie_actors%>


  <%= form.submit %>
<% end %>